<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1043157831411-gg2g5h3anmpb0r2ao82vs99p0kr42rg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043157831411-gg2g5h3anmpb0r2ao82vs99p0kr42rg5</string>
	<key>API_KEY</key>
	<string>AIzaSyDsfmID5beQdzNy0WsDZgwW695y00_RdR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1043157831411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MadeInHeaven.Alttex-messager</string>
	<key>PROJECT_ID</key>
	<string>mychat-9deba</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-9deba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043157831411:ios:28736cfe68f37928</string>
	<key>DATABASE_URL</key>
	<string>https://mychat-9deba.firebaseio.com</string>
</dict>
</plist>